.title {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 30px 127px;
  justify-content: space-between;
  align-items: center;
  &__left {
    width: 192px;
    height: 36px;
    flex-shrink: 0;
  }
  &__image {
    height: 100%;
  }
  &__rigth {
    display: flex;
    align-items: flex-start;
    gap: 32px;
  }
}
